
# DATABASE_URL="file:./dev.db" # sqlite
# DATABASE_URL="postgresql://postgres:postgres@db:5432/siae"
# Se for rodar a aplicação na sua máquina local conectando no Postgres do Docker:
DATABASE_URL="postgresql://siae_user:siae_password@localhost:5432/siae_db?schema=public"
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
JWT_SECRET="SIAEJWTUFC"

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER="Email responsável por enviar os emails"
EMAIL_PASS="abc def hji jkl"