node_modules
/npm-debug.log
/yarn-error.log
/yarn-debug.log*
/pnpm-debug.log*
.npm
.eslintcache
.stylelintcache

/dist
/build

*.tsbuildinfo

.env
.env.*
.env.local

*.log

/coverage
/.nyc_output
*.lcov

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

.DS_Store
Thumbs.db

/pids
*.pid
*.seed
*.pid.lock